$purple: #9d3ea8;
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-image: url(/img/banner_image.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	color: auto;
	text-shadow: 2px 2px 2px white;
	@include margenes(30px, 15px);
	
} 

footer {
	padding: 10px 10px 0 10px;
	color: white;
	background-color: $purple;
	@include margenes(30px, 15px);
}

.btn {
	background-color: $purple;
	width:100%;
	border-radius: 0px;
	border-color: $purple;

	
}
.card-product {
	flex: 1 200px;
	padding: 2px 0px 0px 0px;
	@include margenes(0px, 20px);
}
.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.btn_tarjeta {
	-moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
	background:-moz-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:-webkit-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:-o-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:-ms-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea',GradientType=0);
	background-color:#dfbdfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c584f3;
	display:block;
	margin: 0 auto;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
	
}
.btn_tarjeta:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #dfbdfa));
	background:-moz-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:-webkit-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:-o-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:-ms-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#dfbdfa',GradientType=0);
	background-color:#bc80ea;
}
.btn_tarjeta:active {
	position:relative;
	top:1px;
}
.carousel-inner img {
	align-content: center;
	align-items: center;
	max-width: 640px;
    max-height: 460px;
    
}

.carousel-inner{
	align-content: center;
	align-items: center;
  max-height: 460px;
 max-width: 640px;
}
